body {
    padding-top:25px;
    background-color:#1b2c26;
    margin-left:10px;
    margin-right:10px;
}
.container {
    max-width:600px;
    margin:0 auto;
    text-align:center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background-color:#FAFAFA;
}
button {
    margin-top:15px;
    margin-bottom:25px;
    background-color: rgb(24, 94, 33);
    padding: 12px 45px;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width:30%;
    color:#fff;
  }
  button:hover, .button:hover {
    background:#19a08c;
}


  